
 body{
         background-color:black;
 }
 #button-best{
        position:absolute;
        margin-top:350px;
        margin-left:20px;
        width:100px;
        background-color:red;
        border-radius: 10px;
        cursor: pointer;

}
#description_best_film{
        position:absolute;
        width:10%;
        color:white;
        font-family:Verdana, Arial, Helvetica, sans-serif;
}
 dialog{
         border-radius: 10px;
         box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
         background: linear-gradient(white, grey);;
         width:50%;


  }
 dialog::backdrop{
          background-color: rgba(0, 0, 0, 0.6);
          width:100%;
  }

.description_dialogue{
          width:70%;
 }

 .image_dialogue{
          left:400px;
          top:50px;
          position:absolute;
 }
 .actors_dialogue{
          width:50%;
 }
 .button_dialogue{
          width:100px;
          background-color:red;
          border-radius: 10px;
          position:absolute;
          left:450px;
          top:340px;

 }
 .best-film{
          width:400px;
          height:400px;

  }
   #meilleur-film{
          display:flex;
          justify-content:center;
  }
  #film-notes{
          display:flex;
          justify-content:center;
  }
  #film-note,.slider_best_movies{
          cursor: pointer;
          max-width: 100%;
          height: auto;
          margin-left:20px;
  }
  #film-categorie1{
          display:flex;
          justify-content:center;
  }
  .slider_familly{
          cursor: pointer;
          max-width: 100%;
          height: auto;
          margin-left:20px;
  }
  #film-categorie2{
          display:flex;
          justify-content:center;
  }
  .slider_horror{
          cursor: pointer;
          max-width: 100%;
          height: auto;
          margin-left:20px;
  }
  #film-categorie3{
          display:flex;
          justify-content:center;
  }
  .slider_music{
          cursor: pointer;
          max-width: 100%;
          height: auto;
          margin-left:20px;
  }
  H3{
          color:rgb(255,255,255);
          text-align:center;
  }

  #menu{
          display:flex;
          justify-content:center;
          font-size:23px;
}

  header,H1{
          color:red;
}

  span{
          margin-left:40px;
          color:rgb(255,255,255);
}

.fa-arrow-right{
          cursor: pointer;
          margin-left: 90%;
          margin-top:7.5%;
          position:absolute;
          font-size: 50px;
          color:rgb(255,255,255)
}
.fa-arrow-left{
          cursor: pointer;
          margin-left: 5%;
          margin-top:7%;
          position:absolute;
          font-size: 50px;
          color:rgb(255,255,255)
}
.block{
    margin-top:5%;
}

@media screen and (max-width: 1112px){
    dialog{
           width:60%;
    }
}

@media screen and (min-width: 1350px){
    dialog{
           width:40%;
    }
}

@media screen and (min-width: 1850px){
    dialog{
           width:30%;
    }
}







