<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <title>Netflix Return</title>
      <link rel="stylesheet" href="../static/style.css" />
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
  <header>
      <div><H1>JustStreamIt</H1></div>
      <div id = menu><a href="#">Accueil</a><span><a href="#">Categories</a></span></div>
  </header>
  <dialog id="mydialog" close></dialog>
  <div class="block">
      <h3>Meilleur Film</h3>
    <div id="meilleur-film">

        <div>
            <div>
                <button id ="button-best">Show</button>
                <div id = "description_best_film">{{best_film['description']}}</div>
            </div>
            <img class = "best-film" src="{{best_film['image_url']}}" alt="movie" >
        </div>
    </div>
  </div>

    <div class="block">
        <h3>Film les mieux notés</h3>
        <i id = "click_forward" class="fas fa-arrow-right" ></i>
        <i id = "click_back"class="fas fa-arrow-left" ></i>
        <div id="film-notes">
            {% for picture in all_best_movies[:-3] %}
                <img class ="slider_best_movies" src="{{picture['image_url']}}" alt="movie">
            {% endfor %}
        </div>
    </div>

    <div class="block">
        <h3>Meilleur film de la categorie Famille</h3>
        <i id = "click_forward_familly" class="fas fa-arrow-right" ></i>
        <i id = "click_back_familly" class="fas fa-arrow-left" ></i>
        <div id="film-categorie1">
            {% for picture in categories_familly[:-3] %}
                <img class ="slider_familly" src="{{picture['image_url']}}" alt="movie">
            {% endfor %}
        </div>
    </div>

    <div class = "block">
        <h3>Meilleur film de la categorie Horror</h3>
        <i id = "click_forward_horror" class="fas fa-arrow-right" ></i>
        <i id = "click_back_horror" class="fas fa-arrow-left" ></i>
        <div id="film-categorie2">
            {% for picture in categories_horror[:-3] %}
                <img class ="slider_horror" src="{{picture['image_url']}}" alt="movie">
            {% endfor %}
        </div>
    </div>

    <div class = "block">
        <h3>Meilleur film de la categorie Music</h3>
        <i id = "click_forward_music" class="fas fa-arrow-right" ></i>
        <i id = "click_back_music" class="fas fa-arrow-left" ></i>
        <div id="film-categorie3">
            {% for picture in categories_music[:-3] %}
                <img class ="slider_music" src="{{picture['image_url']}}" alt="movie">
            {% endfor %}
        </div>
    </div>
    <script src="../static/movies.js"></script>
  </body>
</html>
